**NAME : NERELLA VENKATA RADHAKRISHNA**

**ID : 190031187**

**PRACTICAL : 5**

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('kerala.csv')
df

    SUBDIVISION  YEAR   JAN   FEB  ...    NOV    DEC   ANNUAL RAINFALL  FLOODS
0        KERALA  1901  28.7  44.7  ...  350.8   48.4            3248.6     YES
1        KERALA  1902   6.7   2.6  ...  158.3  121.5            3326.6     YES
2        KERALA  1903   3.2  18.6  ...  157.0   59.0            3271.2     YES
3        KERALA  1904  23.7   3.0  ...   33.9    3.3            3129.7     YES
4        KERALA  1905   1.2  22.3  ...   74.4    0.2            2741.6      NO
..          ...   ...   ...   ...  ...    ...    ...               ...     ...
113      KERALA  2014   4.6  10.3  ...   99.5   47.2            3046.4     YES
114      KERALA  2015   3.1   5.8  ...  223.6   79.4            2600.6      NO
115      KERALA  2016   2.4   3.8  ...  125.4   23.6            2176.6      NO
116     KERALA   2017   1.9   6.8  ...   92.5   38.1            2117.1      NO
117      KERALA  2018  29.1  52.1  ...  125.4   65.1            4473.0     YES

[118 rows x 16 columns]

In [5]:
df["FLOODS"]=df["FLOODS"].map({"YES":1,"NO":0})

In [7]:
df["JUN_GT_500"]=(df["JUN"]>500).astype('int')
df["JUL_GT_500"]=(df["JUL"]>500).astype('int')
df_small=df.loc[:,{"YEAR","JUN_GT_500","JUL_GT_500","FLOODS"}]
df_small["COUNT"]=1
df_small.head()

   YEAR  FLOODS  JUN_GT_500  JUL_GT_500  COUNT
0  1901       1           1           1      1
1  1902       1           0           1      1
2  1903       1           1           1      1
3  1904       1           1           1      1
4  1905       0           1           1      1

In [9]:
df_small.shape

(118, 5)

In [11]:
pd.crosstab(df_small["FLOODS"],df_small["JUN_GT_500"])

JUN_GT_500   0   1
FLOODS
0           19  39
1            6  54

In [16]:
P_F = (6 + 54)/(6 + 54 + 19 + 39)
P_J = (39 + 54)/(6 + 54 + 19 + 39)
P_F_intersect_J = 54/(6 + 54 + 19 + 39)
print(f"P(F) : {P_F}")
print(f"P(J) : {P_J}")
print(f"P(F AND J) : {P_F_intersect_J}")

P(F) : 0.5084745762711864
P(J) : 0.788135593220339
P(F AND J) : 0.4576271186440678

In [17]:
# probability of flood given it rained more than 500 mm in June
P_F_J = P_F_intersect_J/P_J
print(f"P(F|J) : {P_F_J}")

P(F|J) : 0.5806451612903226

In [19]:
#Probability of rain more than 500 mm in June given it flooded that year
# P_J_F = P_F_intersect_J/P_F
P_J_F = P_F_J * P_J / P_F
print(f"P(J|F) : {P_J_F}")

P(J|F) : 0.9000000000000001

In [13]:
pd.crosstab(df_small["FLOODS"],df_small["JUL_GT_500"])

JUL_GT_500   0   1
FLOODS
0           19  39
1            3  57

In [15]:
P_FLOODS = (3 + 57)/(19 + 39 + 3 + 57)
P_JUL = (39 + 57)/(19 + 39 + 3 + 57)
P_F_intersect_JUL = 57/(19 + 39 + 3 + 57)
print(f"P(F) : {P_FLOODS}")
print(f"P(JULY) : {P_JUL}")
print(f"P(F AND JULY) : {P_F_intersect_JUL}")

P(F) : 0.5084745762711864
P(JULY) : 0.8135593220338984
P(F AND JULY) : 0.4830508474576271

In [21]:
# probability of flood given it rained more than 500 mm in July
P_F_JUL = P_F_intersect_JUL / P_JUL
print(f"P(F|J) : {P_F_JUL}")

P(F|J) : 0.59375

In [23]:
#Probability of rain more than 500 mm in July given it flooded that year
# P_JUL_F = P_F_intersect_JUL / P_FLOODS
P_JUL_F = P_F_JUL * P_JUL / P_FLOODS
print(f"P(J|F) : {P_JUL_F}")

P(J|F) : 0.9500000000000002